.App-header {
	width: 70vw;
}

#markerFormContainer {
	position: fixed;
	display: flex;
	flex-flow: row;
	justify-content: center;
	top: 5vh;
	left: 5vh;
	padding: 20px;
	z-index: 100;
	border-radius: 15px;
	background-color: seashell;
	-webkit-box-shadow: 4px 3px 10px -3px rgba(0,0,0,0.48);
-moz-box-shadow: 4px 3px 10px -3px rgba(0,0,0,0.48);
box-shadow: 4px 3px 10px -3px rgba(0,0,0,0.48);
}

#newMarkerForm {
	display: flex;
	flex-flow: column nowrap;
	width: 30vw;
}

#newMarkerForm > * {
	margin: 5px;
}

#placeNotesInput {
	padding: 0 0 3vh 0;
}

#submitButton {
	padding: 10px;
	background-color: lightblue;
	height: 5vh;

}

#closeFormButton {
	background-color: pink;
	color: black;
	height: 3vh;
}

.infoWindows {
	width: 100%;
}

.infoWindowName {
	color: black;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.infoWindowNotes {
	color: black;
	font-size: 1.5rem;
}

#search-input {
	position: fixed; 
	bottom: 5vh;
	left: 5vh;
	padding: 10px;
	z-index: 100;
	background-color: white;
	border-radius: 15px;
}

.menuList {
	width: 30vw;
	height:  100vh;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: seashell;
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;
}

.locationItem {
	padding: 15px;
	display: flex;
	flex-flow: row nowrap;
}

.locationItem:hover {
	background-color: pink;
	cursor: alias;
}

.locationItemInfo {
	display: flex;
	flex-flow: column nowrap;
}

.locationItemTimestamp {
	font-style: italic;
}

.locationItemName {
  font-weight: bold;
}

.locationItemNotes {
	margin: 1vh 0 1vh 0;
  font-style: italic;
}

	.showMenu {
		position: fixed;
		bottom: 5vh;
		left: 5vh;
		width:  10vw;
		background-color: red;
	}

.narrativeGroupContainer {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 10px;
	height: 100vh;
	width: 20vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	z-index: 100;
}

.narrativeGroup {
}

.navButton {
	border: 3px black solid;
	border-radius: 10px;
	margin: 20px;
}

.navButton {
	padding: 10px;
	font-size: 1.5rem;
	background-color: white;
}

#addLocation {
	position: fixed;
	bottom: 0;
	right: 0;
	padding-right: 10px;
	z-index: 100;
}

#toggleMap {

}



/*Media Queries*/

@media screen and (max-width: 800px) {

	.App-header {
		width: 100vw;
	}	

  #markerFormContainer {
	width: 100vw;
	height:  50vh;
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 0 0 0;
  border-radius: 0px;
  }

  #newMarkerForm {
    width: 90vw;
    padding: 3vh;
  }

  #search-input {
	position: fixed; 
	top: 2vh;
	left: 2vh;
	bottom: auto;
	padding: 10px;
	width: 60vw;
	z-index: 100;
	background-color: white;
	border-radius: 10px;
	}

.menuList {
	width: 100vw;
	height:  50vh;
	position: fixed;
	bottom: 0;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;
	}

	.showMenu {
		position: fixed;
		bottom: 5vh;
		left: 5vh;
		width:  10vw;
		background-color: red;
	}

}

