.App-header {
	width: auto;
}

.mapContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;

	}

.mapboxgl-map {

	width: 80vw !important;
	height: 100vh !important;
	/*position: relative !important;*/
	/*left: 20vw !important;*/

}

/*.mapboxgl-canvas-container, .mapboxgl-canvas{
	width: 80vw;
}
*/

#markerFormContainer {
	position: fixed;
	display: flex;
	flex-flow: row;
	justify-content: center;
	top: 5vh;
	left: 25vw;
	padding: 20px;
	z-index: 100;
	border-radius: 15px;
	background-color: seashell;
	-webkit-box-shadow: 4px 3px 10px -3px rgba(0,0,0,0.48);
-moz-box-shadow: 4px 3px 10px -3px rgba(0,0,0,0.48);
box-shadow: 4px 3px 10px -3px rgba(0,0,0,0.48);
}

#newMarkerForm {
	display: flex;
	flex-flow: column nowrap;
	width: 30vw;
}

#newMarkerForm > * {
	margin: 5px;
}

#placeNotesInput {
	padding: 0 0 3vh 0;
}

#submitButton {
	padding: 10px;
	background-color: lightblue;
	height: 5vh;

}

#closeFormButton {
	background-color: pink;
	color: black;
	height: 3vh;
}

.infoWindows {
	width: 100%;
}

.infoWindowName {
	color: black;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.infoWindowNotes {
	color: black;
	font-size: 1.5rem;
}

#search-input {
	padding: 1vh;
	z-index: 100;
	background-color: white;
	border-radius: 15px;
	margin-top: auto;

}

#placeSearch {
	width: 18vw;
	font-size: 1.5rem;
}

.menuList {
	display: none;
	width: 30vw;
	height:  100vh;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: seashell;
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;
}

.locationItem {
	padding: 15px;
	display: flex;
	flex-flow: row nowrap;
}

.locationItem:hover {
	background-color: pink;
	cursor: alias;
}

.locationItemInfo {
	display: flex;
	flex-flow: column nowrap;
}

.locationItemTimestamp {
	font-style: italic;
}

.locationItemName {
  font-weight: bold;
}

.locationItemNotes {
	margin: 1vh 0 1vh 0;
  font-style: italic;
}

	.showMenu {
		position: fixed;
		bottom: 5vh;
		left: 5vh;
		width:  10vw;
		background-color: red;
	}

.narrativeGroupContainer {
	/*position: fixed;*/
	top: 0;
	left: 0;
	padding-left: 0px;
	background-color: rgba(255,255,255,255.5);
	height: 100vh;
	width: 20vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	z-index: 100;
}

.navButton {
/*	outline-top: 1px black solid;
	outline-bottom: 1px black solid;*/
	/*border-radius: 10px;*/
	/*background-color: white;*/
	/*margin: 20px;*/
	padding: 1vh;
	font-size: 1rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	text-align: center;
	border-radius: 10px;
	border: 1px black solid;
	margin: 0.5vh;}

.navButton:hover {
	background-color: black;
	color: white;
}

.categoryContainer {
	position: fixed;
	bottom: 5vh;
	right: 5vh;
	height: auto;
	width: auto;
	z-index: 100;
}

.categoryContainer .navButton {
	background-color: white;
}

.searchBox {
	border-radius: 10px;
	font-size: 1rem;
	background-color: white;
}


#addLocation {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	text-align: center;
	border-radius: 10px;
	border: 1px black solid;
	height: 20vh;
	margin: 10px;
}

#bigPlus {
	display: none;
	font-size: 15rem;
	color: white;
	z-index: 100;
}

#addLocation:hover #bigPlus {
	display: block;
}

#addLocation:hover {
color: black;
}

#toggleMap {
}



/*Media Queries*/

@media screen and (max-width: 800px) {

	.mapContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;
	}

	.mapboxgl-map {
	position: fixed !important;
	top: 0;
	width: 100vw !important;
	height: 100vh !important;
	/*position: relative !important;*/
	/*left: 20vw !important;*/

}

	.App-header {
		width: 100vw;
	}	

  #markerFormContainer {
		width: 100vw;
		height:  50vh;
		position: fixed;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 0 0 0;
	  border-radius: 0px;
  }

  #newMarkerForm {
    width: 90vw;
    padding: 3vh;
  }

.narrativeGroupContainer {
		top: 0;
		left: 0;
		padding-left: 0px;
		background-color: transparent;
		height: 30vh;
		width: 100vw;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;		
		align-items: center;
		z-index: 100;
		font-size: 0.6rem;
		overflow: auto;
}

.navButton {
	padding: 10px;
	width: 40vw;
	font-size: 0.8rem;
	align-content: center;
	text-align: center;
	border-radius: 10px;
	border: 1px black solid;
	background-color: white;
}

#addLocation {
	position: fixed;
	text-align: center;
	border-radius: 90px;
	border: 1px black solid;
	bottom: 5vh;
	right: 5vh;
	height: 20vw;
	width: 20vw;
	background-color: white;
	color: white;
	/*margin: 10px;*/
}

#cancelAddLocation {
	/*display: none;*/
	color: black;
}

#bigPlus {
	display: block;
	font-size: 5rem;
	color: black;
	z-index: 100;
	padding-bottom: 1rem;
}

.categoryContainer {
	left: 5vh;
	right: auto;
}

.addLocationText {
	display: none;
}


  #search-input {
  display: none;
  position: fixed;
	width: 60vw;
	z-index: 100;
	background-color: white;
	border-radius: 10px;
	}

  .noPoints {
		list-style-type: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
	}

.menuList {
	width: 100vw;
	height:  50vh;
	position: fixed;
	bottom: 0;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	overflow: auto;
	}

	.showMenu {
		position: fixed;
		bottom: 5vh;
		left: 5vh;
		width:  10vw;
		background-color: red;
	}

}

